---
name: Publish
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Publish package
        run: |-
          ./gradlew publish \
          -Possrh.user='${{ secrets.OSSRH_USER}}' \
          -Possrh.password='${{ secrets.OSSRH_PASSWORD }}' \
          -Possrh.signing.key_id='${{ secrets.OSSRH_SIGNING_KEY_ID }}' \
          -Possrh.signing.password='${{ secrets.OSSRH_SIGNING_PASSWORD }}' \
          -Possrh.signing.key='${{ secrets.OSSRH_SIGNING_KEY }}' --stacktrace
