---
name: Test
on:
  pull_request:
    branches:
      - main
jobs:
  testMatrix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      max-parallel: 1
      matrix:
        java: ["17", "21"]
    name: "Java ${{ matrix.java }}"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: "${{ matrix.java }}"
          distribution: "temurin"
          cache: "gradle"

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

      - name: Run tests
        run: ./gradlew test
        env:
          CERBOS_HUB_API_ENDPOINT: "${{ secrets.CERBOS_HUB_API_ENDPOINT }}"
          CERBOS_HUB_CLIENT_ID: "${{ secrets.CERBOS_HUB_CLIENT_ID }}"
          CERBOS_HUB_CLIENT_SECRET: "${{ secrets.CERBOS_HUB_CLIENT_SECRET }}"
          CERBOS_HUB_STORE_ID: "${{ secrets.CERBOS_HUB_STORE_ID }}"

      - name: Store reports
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: "Reports for Java ${{ matrix.java }}"
          path: |-
            **/build/reports/
            **/build/test-results/

  afterTestMatrix:
    runs-on: ubuntu-latest
    needs: testMatrix
    if: success()
    outputs:
      success: ${{ steps.setoutput.outputs.success }}
    steps:
      - id: setoutput
        run: |-
          echo "::set-output name=success::true"

  testSuccess:
    runs-on: ubuntu-latest
    needs: [testMatrix, afterTestMatrix]
    if: always()
    steps:
      - run: |-
          if [[ "${{ needs.afterTestMatrix.outputs.success}}" == "true" ]]; then
            exit 0
          else
            exit 1
          fi
